<h3><i class="fas fa-book-reader"></i>Daily Record</h3>
<div class="section">
    <p class="lead">
        Create Private and Public stories from your life
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <div class="col s12 m6 offset-m3 center-align">
    <a class="oauth-container btn darken-4 white black-text" href="/auth/google" style="text-transform:none">
        <div class="left">
            <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        </div>
        Sign in with Google
    </a>
</div>
</div>